.form-control.bg-black:focus {
    background-color: black#1a1a1a;
    color: blue #ffc107;
    border-color:#ffc107;
    box-shadow: 0 0 0 0 25rem rgba(255, 193, 7, 0. 25);
}

/* make navbar-nav links centered and pop more on hove */
.navbar-nav .nav-link {
    transition: color 0.2s;
    text-align: center;
}
.navbar-nav .nav-link {
    color: #ffc107 !important; /* bootsrap warning color */
}

/* custom min-height for hero */
.hero-section {
    min-height: 70vh;
    background-attachment: fixede; /* parallax-like effect, can be pe */

}
/* ensure iframes are responsive */
ifram {
    max-width: 100%;
}

